/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

/*audio,
canvas,
img,
video {
    vertical-align: middle;
}*/

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

    body {
        background-image: url(../img/bg.jpg);
    }

    .center {
        position: absolute;
        top: 50%;
        left:50%;
    }

    /* BUTTONS
    ========================================================================= */

    .btn {
        margin-top: -148px;
        margin-left: -149px;
        width: 298px;
        height: 52px;
        border: none;
        border-top: 1px solid #fff;
        border-radius: 3px;
        background: #f1f1f1;
        background: -moz-linear-gradient(top, #f1f1f1, #d8d8d8);
        background: -webkit-gradient(top, #f1f1f1, #d8d8d8);
        background: -webkit-linear-gradient(top, #f1f1f1, #d8d8d8);
        background: -o-linear-gradient(top, #f1f1f1, #d8d8d8);
        background: -ms-linear-gradient(top, #f1f1f1, #d8d8d8);
        background: linear-gradient(top, #f1f1f1, #d8d8d8);
        color: #c2d53b;
        font: 18px "Arial", sans-serif;
        text-shadow: 0 1px 1px #fff;
        box-shadow: 0 0 5px rgba(0,0,0,0.5);
        outline: none;
    }

    .btn:hover {
        background: #f1f1f1;
        background: -moz-linear-gradient(top, #f1f1f1, #eaeaea);
        background: -webkit-gradient(top, #f1f1f1, #eaeaea);
        background: -webkit-linear-gradient(top, #f1f1f1, #eaeaea);
        background: -o-linear-gradient(top, #f1f1f1, #eaeaea);
        background: -ms-linear-gradient(top, #f1f1f1, #eaeaea);
        background: linear-gradient(top, #f1f1f1, #eaeaea);
        color: #ffae00;
    }

    .btn:focus {
        background: #d8d8d8;
        background: -moz-linear-gradient(top, #d8d8d8, #f1f1f1);
        background: -webkit-gradient(top, #d8d8d8, #f1f1f1);
        background: -webkit-linear-gradient(top, #d8d8d8, #f1f1f1);
        background: -o-linear-gradient(top, #d8d8d8, #f1f1f1);
        background: -ms-linear-gradient(top, #d8d8d8, #f1f1f1);
        background: linear-gradient(top, #d8d8d8, #f1f1f1);
        color: #000;
    }

    .btn-round {
        display: block;
        position: relative;
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }

    .btn-expand {
        top: -18px;
        margin: 0 auto;
        background: rgba(0, 0, 0, 0.75);
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.75) 30%, transparent 30%);
        background: -webkit-gradient(top, rgba(0, 0, 0, 0.75) 30%, transparent 30%);
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.75) 30%, transparent 30%);
        background: -o-linear-gradient(top, rgba(0, 0, 0, 0.75) 30%, transparent 30%);
        background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.75) 30%, transparent 30%);
        background: linear-gradient(top, rgba(0, 0, 0, 0.75) 30%, transparent 30%);
    }

    .btn-expand-top {
        display: inline-block;
        width: 56px;
        height: 18px;
    }

    .btn-nav {
        top: 50%;
        border: 1px solid #51544e;
        border-radius: 50%;
        margin-top: -30px;
        background-color: #242424;
    }

    .btn-nav-left {
        left: -34px;
    }

    .btn-nav-right {
        right: -12px;
    }

    .arrow {
        position: absolute;
        display: block;
        height: 0;
        width: 0;
    }

    .arrow-down {
        top: 10px;
        left: 24px;
        border-top: 6px solid #c6db2e;
        border-right: 7px solid transparent;
        border-left: 7px solid transparent;
    }

    .arrow-left {
        top: 23px;
        left: 38px;
        border-top: 7px solid transparent;
        border-right: 6px solid #c6db2e;
        border-bottom: 7px solid transparent;
    }

    .arrow-right {
        top: 23px;
        right: 38px;
        border-top: 7px solid transparent;
        border-left: 6px solid #c6db2e;
        border-bottom: 7px solid transparent;
    }


    /* PANEL
    ========================================================================= */

    .panel {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 292px;
        background: rgba(0, 0, 0, 0.8);
        /*overflow-x: auto;
        white-space: nowrap*/
    }

    .panel-left {
        float: left;
        width: 40px;
        height: 100%;
        background: transparent;
    }

    .panel-right {
        float: right;
        width: 40px;
        height: 100%;
        background: transparent;
    }

    .panel-content {
        padding-top: 15px;
        margin: 0 40px;
        overflow-x: auto;
        white-space: nowrap;
    }

    .panel-top {
        height: 16px;
        background: url(../img/panel-top.jpg) repeat-x;
    }

    .information,
    .videos,
    .links,
    .photos {
        display: inline-block;
        /*float: left;*/
        width: 340px;
        height: auto;
        white-space: normal;
        vertical-align: top;
        /*background-color: red;*/
    }

    .title {
        margin: 0;
        margin-bottom: 10px;
        color: #c6db2e;
        font: 21px "Calibri", sans-serif;
    }

    .subtitle {
        margin: 0;
        color: #fff;
        font: 16px "Calibri", sans-serif;
    }

    /*
     * Information
     */

    .information {
        width: 336px;
        margin-left: 130px;
    }

    .info-text {
        width: 326px;
        color: #fff;
        font: 13px "Calibri", sans-serif;
        line-height: 15px;
    }

    .info-text p {
        margin: 5px 0;
    }

    /*
     * Videos
     */

    .videos {
        width: 388px;
        margin-top: 0;
        margin-left: 60px;
    }

    .media-object {
        display: inline-block;
        width: 176px;
        margin-right: 15px;
   }

   .media-object p {
        margin: 5px 0;
   }

   .media-object figcaption {
        color: #fff;
        font: 13px/2px "Calibri", sans-serif;
   }

    /*
     * Links
     */

   .links {
        width: 220px;
        margin-top: 0;
        margin-left: 40px;
    }

    .links-list {
        list-style: none;
        padding-left: 0;
        margin: 5px 0;
    }

    .links-list li {
        line-height: 2px;
    }

    .links-list a {
        color: #fff;
        font: 13px "Calibri", sans-serif;
    }

    /*
     * Photos
     */

    .photos {
        width: 490px;
        height: 240px;
        margin-top: 0;
        margin-left: 40px;
    }

    .pics a {
        display: inline-block;
        margin-right: 14px;
        margin-bottom: 14px;
    }

    /*
     * Scrollbar's styles
     */

    .photos .viewport {
        width: 475px;
        height: 240px;
        overflow: hidden;
        position: relative;
    }

    .photos .overview {
        position: absolute;
        left: 0;
        top: 0;
        list-style: none;
    }

    .photos .thumb .end,
    .photos .thumb {
        background-color: #161616;
    }

    .photos .scrollbar {
        position: relative;
        float: right;
        width: 12px;
    }

    .photos .track {
        position: relative;
        width: 8px;
        height: 100%;
        padding: 0 2px;
        background-color: #666;
        border-radius: 4px;
    }

    .photos .thumb {
        position: absolute;
        top: 0;
        width: 8px;
        height: 70px;
        border-radius: 4px;
        cursor: pointer;
        overflow: hidden;
    }

    .photos .thumb .end {
        overflow: hidden;
        height: 5px;
        width: 8px;
    }

    .photos .disable {
        display: none;
    }

    .noSelect {
        user-select: none;
        -o-user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
    }

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
